body {
  background-color: #e5e5e5;
  color: #212121;
}
.logo {
  color: #000000;
}
.logo-part {
  color: #2196f3;
}
.menu-link {
  color: #000;
}

.menu-link.active {
  color: #2196f3;
}
.contacts-list {
  color: #757575;
}
.contacts-list:hover,
.contacts-list:focus {
  color: tomato;
}
