:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --filters-color: #f5f4fa;
}

body {
  background-color: #e5e5e5;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

.logo {
  color: #000000;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.logo-part {
  color: var(--accent-color);
}
.list {
  list-style: none;
}
.menu-link {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
}

.menu-link.active {
  color: var(--accent-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
}
.contacts-list {
  font-family: Roboto;
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.contacts-list:hover,
.contacts-list:focus {
  color: tomato;
}
button {
  font-family: inherit;
}
.main-filter-button {
  font-family: Roboto;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.main-filter-button:hover,
.main-filter-button:focus {
  color: tomato;
}
.filter-button {
  font-family: Roboto;
  color: var(--primary-text-color);
  background-color: var(--filters-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
.projects-title {
  font-family: Roboto;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
}
.projects-sections {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.contacts-item {
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.logo-part-one {
  color: var(--primary-white-color);
}
.contacts-link-footer {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
